<h1 class="columns text-weight-is mt-3 is-centered is-family-code is-size-2 has-text-info-dark"><%= User.find(params[:id]).name %>'s profile page</h1>

<div class="button is-info is-rounded p-2 widening ml-2" style="text-align: center; border: 1px solid #51a7e0; border-radius: 20px">
<%= link_to 'Friend List', friends_list_path, :class => "is-family-code is-size-6", :style => "color: #ffffff"%>
</div>

<% if current_user != nil && current_user.id != params[:id].to_i && !current_user.friends_with?(User.find(params[:id])) %>
  <% if !current_user.pending_friends.map{|fr| fr.id}.include?(params[:id].to_i) && !current_user.requested_friends.map{|fr| fr.id}.include?(params[:id].to_i) %>
  <div class="button is-info is-rounded p-2 widening ml-2" style="text-align: center; border: 1px solid #51a7e0; border-radius: 20px">
    <%= link_to 'Add as friend', add_friend_path(params[:id]), :class => "is-family-code is-size-6", :style => "color: #ffffff" %>
  </div>
  <% elsif current_user.pending_friends.map{|fr| fr.id}.include?(params[:id].to_i) %>
  <p class="ml-4 mt-2">You are waiting for <%= User.find(params[:id]).name %> to respond to your friend request</p>
  <% elsif current_user.requested_friends.map{|fr| fr.id}.include?(params[:id].to_i) %>
    <p class="ml-4 mt-2"><%= User.find(params[:id]).name %> is waiting for you to respond to their <a href="/friends/requests/">friend request</a></p>
  <% end %>
<% elsif current_user != nil && current_user.friends_with?(User.find(params[:id])) %>
  <p class="ml-4 mt-2">You are friends with <%= User.find(params[:id]).name %></p>
<% end %>

<%= render 'shared/posts_cards' %>
